<div class="container-fluid">
  <h2>IdeasBoard example</h2>
  <div class="row">
    <div class="col cards-col" *ngFor="let column of columnList">
        <div class="column-name">{{column.name}}</div>
        <app-card-add [id]="column.id" (addCardItem)="addCardItemHandler($event)"></app-card-add>
        <div div class="cards" *ngFor="let item of filterCards(column.id)">
            <app-card [id]="item.id" [name]="item.name" [points]="item.points" (removeCardItem)="removeCardItemHandler($event)"></app-card>
        </div>
    </div>
  </div>
</div>
